<p id="notice"><%= notice %></p>

<p>
  <strong>Tarehe:</strong>
  <%= @week.tarehe %>
</p>

<p>
  <strong>Week:</strong>
  <%= @week.week %>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
